.banner-right-img{
    text-align: right;
}
.banner-right-img img{
    display: inline-block;
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}