.banner{
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.banner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-left{
    width: 50%;
}
.banner-right{
    width: 50%;
}